<div class="jumbotron">
  <h1> API test call </h1>
  <p> Get COVID facts here </p>
  <form action="/covidfacts" method="POST">
    <input type="text" size="60" name="date" placeholder="Enter a date in YYYYMMDD format (e.g. 20200630)">
    <input type="submit" value="Get covid facts for this date!">
  </form>
</div>